<div class="browser-content" style="height: 100%;">

    <!-- uploader div start -->
    <div id="media-container" style="display: none;">
        <div class="uploader-background"></div>
        <div class="uploader">
            <div class="tabbable upload-tabbable">
                <div class="tab-content modal-browser"></div>
            </div>
        </div>
    </div>
    <!-- uploader div end -->

    <!-- uploader div start -->
    <div class="loader-container" style="display: none;">
        <div class="uploader-background"></div>
        <div class="browser-loader">Silahkan Tunggu ...</div>
    </div>
    <!-- uploader div end -->

    <div class="container-fluid full-height">

        <!-- contoh buat drive side bar
        <div class="col-md-2">
            <div id="treeview1" class=""></div>
        </div>
        -->

        <div class="col-md-12 full-height">
            <!-- header div start -->
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse-bs" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="brand">Toolbar</div>
                        <div class="nav-collapse collapse-bs">
                            <div class="filters">
                                <div class="row-fluid">
                                    <div class="span6 half">
                                        <button class="tip btn drive-btn" title="Drive"><i class="icon-disc_full"></i></button>
                                        <select name="device-list" class="device-list form-control" id="device-list"></select>
                                        <button class="tip btn create-file-btn" title="New_File"><i class="icon-plus"></i><i class="icon-file"></i></button>
                                        <button class="tip btn new-folder-btn" title="New_Folder"><i class="icon-plus"></i><i class="icon-folder-open"></i></button>
                                    </div>
                                    <div class="span2 half view-controller">
                                        <button class="btn tip btn-inverse" id="view0" data-value="0" title="View_boxes"><i class="icon-th icon-white"></i></button>
                                        <button class="btn tip" id="view1" data-value="1" title="View_list"><i class="icon-align-justify"></i></button>
                                    </div>
                                    <div class="span4 entire types" id="sorting-component"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header div end -->

            <!-- breadcrumb div start -->
            <div class="row-fluid">
                <ul class="breadcrumb" id="nav-browser"></ul>
                <input type="hidden" id="view-browser" value="0">
                <input type="hidden" id="curdir-browser" value="">
                <input type="hidden" id="dir-browser" value="">
                <input type="hidden" id="size-browser" value="">

                <input type="hidden" id="cdir-browser" value="">
                <input type="hidden" id="bdir-browser" value="">
                <input type="hidden" id="volume-browser" class="volume-browser" value="">

                <input type="hidden" id="cm-file" value="">
                <input type="hidden" id="cm-dir" value="">
                <input type="hidden" id="cm-type" value="">
                <input type="hidden" id="cm-drive" value="">
                <input type="hidden" id="cm-action" value="">
            </div>
            <!-- breadcrumb div end -->

            <div class="row-fluid ff-container file-browser"></div>

        </div>

    </div>

</div>


<template id="file-component">
    <ul class="grid cs-style-2 list-view0" id="main-item-container">
        <li v-if="setBackButton() == true" data-name=".." class="back ui-droppable">
            <figure data-name=".." class="back-directory" data-type="" v-bind="getParentFolder()">
                <a class="folder-link" href="#" @click="BackBrowser()">
                    <div class="img-precontainer">
                        <div class="img-container directory"><span></span>
                            <img v-bind="loadImageBackIcon()">
                        </div>
                    </div>
                    <div class="img-precontainer-mini directory">
                        <div class="img-container-mini">
                            <span></span>
                            <img v-bind="loadImageBackIcon()">
                        </div>
                    </div>
                    <div class="box no-effect">
                        <h4>Kembali</h4>
                    </div>
                </a>
            </figure>
        </li>
        <li v-if="getFirstChar(file.name) != '.'" v-for="file in files" v-bind="loadAttr(getFileName(file.name, file.isDirectory), file.isFile, file.isDirectory, file.type, file.size)">
            <div class="file-uploader hide"></div>
            <figure v-bind="loadFigureAttr(getFileName(file.name, file.isDirectory), file.name, file.isFile, file.isDirectory, file.type)">
                <a v-bind="loadLinkAttr(getFileName(file.name, file.isDirectory), file.isFile, file.isDirectory)" href="#" @dblclick="OpenFile(file.isFile, file.isDirectory, file.name, file.type, file.url, file.path)">
                    <div class="img-precontainer">
                        <div v-bind="loadFileType(file.isFile, file.isDirectory, file.type)">{{getFileType(file.type)}}</div>
                        <div v-bind="loadImgContainer(file.isFile, file.isDirectory)">
                            <img v-bind="loadImageIcon(file.isFile, file.isDirectory, file.type, file.url)">
                        </div>
                    </div>
                    <div v-bind="loadImgContainerMini(file.isFile, file.isDirectory)">
                        <div v-bind="loadFileTypeMini(file.isFile, file.isDirectory, file.type)">{{getFileType(file.type)}}</div>
                        <div class="img-container-mini">
                            <img v-bind="loadImageIcon(file.isFile, file.isDirectory, file.type, file.url)">
                        </div>
                    </div>
                    <div v-bind="loadCover(file.isFile, file.type)"></div>
                </a>
                <div class="box">
                    <h4 class="ellipsis">{{getFileName(file.name, file.isDirectory)}}</h4>
                </div>
                <input type="hidden" class="name" v-model="getFileName(file.name, file.isDirectory)">
                <input type="hidden" class="size" v-model="file.size">
                <input type="hidden" class="extension" v-model="getFileType(file.type)">
                <div class="file-extension">{{getFileType(file.type)}}</div>
                <!--
               <figcaption>


                   <a href="#" class="tip-left edit-button rename-file-paths rename-folder" title="" data-folder="1" data-permissions="" data-path="sss/tessss" data-original-title="Rename">
                       <i class="icon-pencil "></i></a>
                   <a href="#" class="tip-left erase-button delete-folder" title="" data-confirm="Are you sure to delete the folder and all the elements in it?" data-path="sss/tessss" data-original-title="Erase">
                       <i class="icon-trash "></i>
                   </a>

                   <a class="tip-right preview" title="" @click="OpenFile(file.isFile, file.isDirectory, file.name, file.type, file.url)" href="#" data-original-title="Preview"><i class=" icon-eye-open"></i></a>
                   <a href="javascript:void('')" class="tip-left edit-button rename-file-paths rename-file" title="" data-folder="0" data-permissions="" data-path="sss/wp.png" data-original-title="Rename">
                       <i class="icon-pencil "></i></a>

                   <a href="javascript:void('')" class="tip-left erase-button delete-file" title="" data-confirm="Are you sure you want to delete this file?" data-path="sss/wp.png" data-original-title="Erase">
                       <i class="icon-trash "></i>
                   </a>

                </figcaption>
                -->
            </figure>
        </li>
    </ul>
</template>